@model PaginatedList<Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.PubYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.numberOfPages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.Publisher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PubYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numberOfPages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.Name)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }

                @if (User.IsInRole("Member"))
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">See Details</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@await Html.PartialAsync("../_PaginationPartialView", Model)
